body{
  top: 0px;
  left: 0px;
  background-image: url('./assets/Background.svg');
  background-repeat: no-repeat;
  background-position: initial;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}



img{
  width: 30%;
  height: 30%;
}